.Menu {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1000;
  width: 300px;
}

.Menu__item:not(:last-child) {
  margin-bottom: 8px;
}

.Menu__label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  text-transform: capitalize;
}

.Menu__button {
  padding: 4px 8px;
  margin-bottom: 8px;
  border: 1px solid #000;
  border-radius: 0;
  background-color: #FFF;
  font-size: 12px;
  text-transform: capitalize;
  cursor: pointer;
}

.Menu__button:not(:last-child) {
  margin-right: 8px;
}

.Menu__button--selected {
  background-color: #000;
  color: #FFF;
}
